<!DOCTYPE html>
<html>
  <head>
    <% include partials/template/head.ejs %>
    <% include partials/template/accordion.ejs %>
  </head>
  <body id="background">
  	<!-- Begin navbar -->
  	<% include partials/template/header.ejs %>
  	<!-- End navbar -->
  	<!-- Begin content -->
   <p>hellow rold</p>
  	<div>
  		<h1>First World world </h1>
      <% include partials/content/getteamlist.ejs %> 
  	</div><!-- End content -->
  	<% include partials/template/footer.ejs %>
  	<% include partials/template/jsdefaults.ejs %>
  </body>
</html>


<!-- , id="accordion" , <div>
            <p>hello world</p>
         </div>-->